* {
  margin: 0;
  padding: 0;
}
/*
body {
  margin:0;
  padding:0;
  font-family:'Roboto', sans-serif;
  /*font-family: Sans-serif;
  background: #2c3e50;
}
*/
#wrap {
  margin: 0 auto 30px;
}

#regbar1 {
  height: 67px;
  background: none;
}

#navthing1 {
  margin-left: 450px;
  margin-top: -55px;
  height: 80px;
}

h5 {
  padding: 70px 20px 20px 20px;
  font-size: 30px;
  color: #181A1C;
  margin-left:-60px;
  /*text-align: center;*/
}

h6{
  /*padding: 70px 20px 20px 20px;*/
  font-size: 20px;
  color: #fff;
  margin-bottom:5px;
  margin-left: 3px;
  /*text-align: center;*/
}
/*
h6 {
  font-size: 20px;
  color: #181A1C;
  text-align: right;
  margin-right: 185px;
  margin-top: 22px;
}
*/
fieldset {
  border: none;
}

fieldset h6{
  margin-bottom: 12px;
  margin-top: 15px;
}

.user_login {
  position: relative;
  width: 350px;
  display: block;
}

/*.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #181A1C;
  left: 10%;
  position: absolute;
  top: -10px;
  margin-left: 330px ;
}
*/
.formholder {
  background: #181A1C;
  width: 630px;
  border-radius: 5px;
  padding-top: 1px;
  margin-left: 280px ;
  margin-top: 30px;
  z-index: 9999;
}

.formholder input[type="text"], .formholder input[type="password"], .formholder select{
  background: #FECE1A;
  /*padding: 5px;*/
  margin-left: 5px ;
  width: 100%;
  display: block;
  font-size: 18px;
  color: #181A1C;
  border-radius: 5px;
  border: none;
  height: 35px;
}


.status1 input[type="radio"]{
  background: #FECE1A;
  padding: 5px;
  margin-left: 5px ;
  margin-top: 15px;
  /*width: 100%;*/
  display: block;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 15px;
}

.status1 p{
  margin-top: -28px;
  margin-left: 15px;
}

.status2{
  margin-left: 80px;
}

.status2 input[type="radio"]{
  background: #FECE1A;
  padding: 5px;
  margin-left: 105px ;
  /*width: 100%;*/
  margin-top: -37px;
  display: block;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 15px;
  /*text-align: center;*/
}

.status2 p{
  margin-top: -28px;
  margin-left: 115px;
}

.status3{
  margin-left: 200px;
}

.status3 input[type="radio"]{
  background: #FECE1A;
  padding: 5px;
  margin-left: 170px ;
  /*width: 100%;*/
  margin-top: -37px;
  display: block;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 15px;
  /*text-align: center;*/
}

.status3 p{
  margin-top: -28px;
  margin-left: 180px;
}

.formholder input[type="text"]:focus, .formholder input[type="password"]:focus, .formholder select {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  margin: 25px 0 -5px 5px;
  padding: 12px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

/*.status {
  font-size: 18px;
  color: #fff;
}*/

/*
.formholder select{
  /*margin-left: 5px;
  height:35px;
  background-color: #FECE1A;
}*/
.randompad {
  padding : 60px;
  margin-top: -15px;
  width: 500px;
}

/*.tbo_login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up1 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #181A1C;
  left: 90%;
  position: absolute;
  top: -10px;
  margin-left: 730px ;
}

.formholder1 {
  background: #181A1C;
  width: 450px;
  border-radius: 5px;
  padding-top: 1px;
  margin-left: 710px ;
}
.formholder1 input[type="text"], .formholder1 input[type="password"] {
  background: #FECE1A;
  /*padding: 20px;
  margin-left: 5px ;
  width: 100%;
  display: block;
  font-size: 18px;
  color: #181A1C;
  border-radius: 5px;
  border: none;
  height: 35px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder1 input[type="text"]:focus, .formholder1 input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder1 input[type="submit"] {
  background: #1abc9c;
  margin: 25px 0 -5px 5px;
  padding: 12px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder1 input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad1 {
  padding : 60px;
}*/

.green {
  color: #1abc9c;
}

a {
  color: #181A1C;
  text-decoration: none;
}
a:hover {
  color: #FFF;
}
